<!doctype html>
<html>

<head>
  <title>Fun Reading - A Reading Battle Game</title>
  <link href="images/favicon.ico" rel="icon" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
  <link rel="stylesheet" href="http://csshake.surge.sh/csshake.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.2.4/milligram.min.css">
  <link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/app.bundle.css">
</head>

<body>
  <section id="home">
    <div class="container">

      <div class="row pt-50">
        <div class="column center">
          <h1 class="chewy-font">FunReading.io</h1>
        </div>
      </div>

      <div class="row pt-20" v-if="waitScreen == true">
        <div class="column column-50 column-offset-25">
          <div class="row">
            <div class="column center">
              <h5> Time before game starts: {{ seconds }} secs</h5>
              <h5> Waiting for players... {{usersNum}} / 2</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="row pt-20" v-if="waitScreen == false">
        <div class="column column-50 column-offset-25">

          <div class="row">
            <div class="column center">
              <h4 class="chewy-font">Read against your opponent.</h4>
            </div>
          </div>

          <div class="row">
            <div class="column center">
              <input class="play-btn" autocomplete="off" placeholder="Anonymous" @keyup.enter="submitName" v-model="name" :class="{'shake-slow': isShake}" />
              <a class="button" href="/play" @click="submitName">PLAY</a>
            </div>
          </div>

          <div class="row pt-20">
            <div class="column center">
              <h6>Read the words aloud + Earn the most points. </h6>
              <h6>Simply <strong>read aloud</strong> the words. <em>Be quick</em> and don't let your opponent get ahead.</h6>
              <h6>Longer & complex words = <strong>more points</strong>. Devise your strategy wisely.</h6>
            </div>
          </div>

        </div>
      </div>

      <a class="button button-clear fixed-top-right" href="/log"><i class="fa fa-book fa-2x" aria-hidden="true"></i> Changelog</a>




    </div>
  </section>

  <script src="/socket.io/socket.io.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="http://cdn.jsdelivr.net/mojs/latest/mo.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/16.3.5/Tween.min.js"></script>
  <script src="js/app.bundle.js"></script>


</body>

</html>
