<!doctype html>
<html>

<head>
  <title>Fun Reading - A Reading Battle Game</title>
  <link href="images/favicon.ico" rel="icon" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.2.4/milligram.min.css">
  <link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/tingle.min.css">
  <link rel="stylesheet" href="css/app.bundle.css">
</head>

<body>

  <!-- Home Screen View -->
  <section id="home" v-if="!gameScreen">
    <div class="container">

      <div class="row pt-50">
        <div class="column center">
          <h1 class="chewy-font">FunReading.io</h1>
        </div>
      </div>

      <!-- Wait Screen View -->
      <div class="row pt-20" v-if="waitScreen">
        <div class="column column-50 column-offset-25">
          <div class="row">
            <div class="column center">
              <h5> Time before game starts: <span v-if="minutes !=0">{{minutes}} min</span> {{ seconds }} secs</h5>
              <h5> Waiting for players... {{playerNo}} / 2</h5>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Wait Screen View -->

      <div class="row pt-20" v-if="!waitScreen">
        <div class="column column-50 column-offset-25">

          <div class="row">
            <div class="column center">
              <h4 class=""><em>Read against your opponent.</em></h4>
            </div>
          </div>

          <div class="row">
            <div class="column center">
              <input class="name-input chewy-font" autocomplete="off" placeholder="Anonymous" @keyup.enter="submitName" v-model="player.name" />
              <a class="button play-btn" @click="submitName">PLAY</a>
            </div>
          </div>

          <div class="row pt-20">
            <div class="column center">
              <h6>Read the words aloud + Earn the most points. </h6>
              <h6>Simply <strong>read aloud</strong> the words. <em>Be quick</em> and don't let your opponent get ahead.</h6>
              <h6>Longer & complex words = <strong>more points</strong>. Devise your strategy wisely.</h6>
            </div>
          </div>
        </div>

        <div class="fixed-top-right">
          <div>
            <a class="button button-clear" href="/log">
              <i class="fa fa-book fa-2x" aria-hidden="true"></i> Changelog
            </a>
          </div>
          <div>
            <a class="button button-clear" @click="openScoreboard">
              <i class="fa fa-trophy fa-2x" aria-hidden="true"></i> Scoreboard
            </a>
          </div>
        </div>


      </div>
    </div>

  </section>
  <!-- End of Home Screen View -->

  <!-- Play Screen View -->
  <section id="play" v-if="gameScreen">
    <div class="container">

      <!-- 1st row of player statistics -->
      <div class="row">
        <div class="column column-100">
          <span><i class="fa fa-user-circle fa-2x"></i> {{player.name}} </span>
          <span class="pl-10"><i class="fa fa-star fa-2x"></i> {{player.score}}</span>

          <span class="float-right pl-10"><i class="fa fa-star fa-2x"></i> {{opponent.score}}</span>
          <span class="float-right"><i class="fa fa-user-circle fa-2x"></i> {{opponent.name}}</span>
        </div>
      </div>

      <!-- 2nd row of player statistics -->
      <div class="row">
        <div class="column column-100">

          <span class="fa-stack fa-1x fa-md" :class="{'bounce': player.isLvlTwoTile}">
            <i class="fa fa-square fa-stack-2x indigo"></i>
            <span class="fa fa-stack-1x">{{player.lvlTwoCount}}</span>
          </span>
          <span class="fa-stack fa-1x fa-md" :class="{'bounce': player.isLvlOneTile}">
            <i class="fa fa-square fa-stack-2x chocolate"></i>
            <span class="fa fa-stack-1x">{{player.lvlOneCount}}</span>
          </span>
          <span class="fa-stack fa-1x fa-md" :class="{'bounce': player.isLvlZeroTile}">
            <i class="fa fa-square fa-stack-2x limegreen"></i>
            <span class="fa fa-stack-1x">{{player.lvlZeroCount}}</span>
          </span>

          <span class="fa-stack fa-1x fa-md float-right pl-10" :class="{'bounce': opponent.isLvlTwoTile}">
            <i class="fa fa-square fa-stack-2x indigo"></i>
            <span class="fa fa-stack-1x">{{opponent.lvlTwoCount}}</span>
          </span>
          <span class="fa-stack fa-1x fa-md float-right pl-10" :class="{'bounce': opponent.isLvlOneTile}">
            <i class="fa fa-square fa-stack-2x chocolate"></i>
            <span class="fa fa-stack-1x">{{opponent.lvlOneCount}}</span>
          </span>
          <span class="fa-stack fa-1x fa-md float-right pl-10" :class="{'bounce': opponent.isLvlZeroTile}">
            <i class="fa fa-square fa-stack-2x limegreen"></i>
            <span class="fa fa-stack-1x">{{opponent.lvlZeroCount}}</span>
          </span>

        </div>
      </div>

      <!-- 3rd row of player statistics -->
      <div class="row">
        <div class="column column-100">
          <span v-show="player.showScore"> +{{player.wordScore}}pts!</span>

          <span class="float-right pl-10" v-show="opponent.showScore"> +{{opponent.wordScore}}pts!</span>
        </div>
      </div>

      <!-- 4th row of player statistics -->
      <div class="row">
        <div class="column column-100">
          <span v-show="player.bonusWords > 0"><img src="images/flame-01.gif" alt="streak" height="21" width="21"> {{player.bonusWords}} word combo +{{player.bonusPercent}}%!
          </span>

          <span class="float-right pl-10" v-show="opponent.bonusWords > 0"><img src="images/flame-01.gif" alt="streak" height="21" width="21"> {{opponent.bonusWords}} word combo +{{opponent.bonusPercent}}%!
          </span>
        </div>
      </div>

      <!-- Gameplay Words List -->
      <ul class="no-bullets pt-50 center">
        <transition-group name="list-complete">
          <li v-if="rounds.stage == 1" v-for="i in roundOne" :key="i.word" class="list-complete-item">
            <h2 :class="[i.color, rounds.class]">{{i.word}}</h2>
          </li>
          <li v-if="rounds.stage == 2" v-for="i in roundTwo" :key="i.word" class="list-complete-item">
            <h2 :class="[i.color, rounds.class]">{{i.word}}</h2>
          </li>
          <li v-if="rounds.stage == 3" v-for="i in roundThree" :key="i.word" class="list-complete-item">
            <h2 :class="[i.color, rounds.class]">{{i.word}}</h2>
          </li>
        </transition-group>
      </ul>

      <div class="row">
        <div class="column center">

          <form action="" @submit.prevent>
            <input id="m" autocomplete="off" placeholder="type your word.." @keyup.enter="submitMsg" v-model="player.typedWord" />
          </form>

          <h3>Words Left: {{words.length - 1}}</h3>
          <h5> <i class="fa fa-clock-o fa-2x"></i> Time left: {{ seconds }} secs</h5>

        </div>
      </div>

      <h3 v-show="speechResult">You spoke the word: {{recognisedWord}}</h3>

    </div>
  </section>
  <!-- End of Play Screen View -->

  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/16.3.5/Tween.min.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/moment.js"></script>
  <script src="js/axios.js"></script>
  <script src="js/tingle.min.js"></script>
  <script src="js/app.bundle.js"></script>

</body>

</html>
