<!doctype html>
<html>

<head>
  <title>Fun Reading - Changelog</title>
  <link href="images/favicon.ico" rel="icon" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.2.4/milligram.min.css">
  <link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/app.bundle.css">
</head>

<body>
  <section id="log">
    <div class="container">

      <div class="row pt-50">
        <div class="column center">
          <h1 class="chewy-font">FunReading.io</h1>
        </div>
      </div>

      <div class="row pt-20">
        <div class="column center">
          <h4 class="chewy-font">Change Version Timeline</h4>
        </div>
      </div>

      <ul class="timeline">

        <li>
          <div class="timeline-badge">
            <a><i class="fa fa-circle" id=""></i></a>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>v1.3</h4>
            </div>
            <div class="timeline-body">
              <p><em>[1] Game ending mechanism - 60 seconds end or words run out after 2 rounds</em></p>
              <p><em>[2] Special powers - can trigger special powers after x5 of each color tiles</em></p>
            </div>
            <div class="timeline-footer primary">
              <p class="text-right">Feb-16-2017</p>
            </div>
          </div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-badge">
            <a><i class="fa fa-circle invert" id=""></i></a>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>v1.2</h4>
            </div>
            <div class="timeline-body">
              <p><em>[1] Setup project environment (webpack, socketIO, vueJS).</em></p>
              <p><em>[2] Initialise 1-on-1 gamerooms and basic gameplay logic.</em></p>
            </div>
            <div class="timeline-footer primary">
              <p class="text-right">Feb-02-2017</p>
            </div>
          </div>
        </li>

        <li>
          <div class="timeline-badge">
            <a><i class="fa fa-circle" id=""></i></a>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>v1.1</h4>
            </div>
            <div class="timeline-body">
              <p><em>[1] Setup project environment (webpack, socketIO, vueJS).</em></p>
              <p><em>[2] Initialise 1-on-1 gamerooms and basic gameplay logic.</em></p>
            </div>
            <div class="timeline-footer primary">
              <p class="text-right">Jan-27-2017</p>
            </div>
          </div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-badge">
            <a><i class="fa fa-circle invert" id=""></i></a>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>v1.0</h4>
            </div>
            <div class="timeline-body">
              <p><em>[1] Performed preliminary market research and intelligence on web speech games.</em></p>
              <p><em>[2] Initialised project repo.</em></p>
            </div>
            <div class="timeline-footer primary">
              <p class="text-right">Jan-19-2017</p>
            </div>
          </div>
        </li>
        <li class="clearfix no-float"></li>
      </ul>

      <p class="footer">
        Created by <a href="mailto:danielchan.yes@gmail.com">Daniel Chan</a>
      </p>

      <a class="button button-clear fixed-top-right" href="/"><i class="fa fa-home fa-2x" aria-hidden="true"></i> Home</a>


    </div>
  </section>

  <script src="/socket.io/socket.io.js"></script>
  <script src="js/app.bundle.js"></script>


</body>

</html>
