#home {

  .name-input {
    padding: 10px;
    font-size: 2.8rem;
    max-width: 100%;
    height: 50px;
    color: #9B4DCA;
    &:focus {
      outline: none;
      border: 2px solid #9B4DCA;
    }
  }

  .play-btn {
    height: 50px;
    padding-top: 5px;
    font-size: 1.8rem;
    vertical-align: top;
  }

}
