#play {

  .no-bullets {
    list-style-type: none;
  }

  .indigo {color: indigo;}
  .chocolate {color: chocolate;}
  .limegreen {color: limegreen;}

  .round-one {}
  .round-two {font-size: 3rem;}
  .round-two-bg {background-color: #aaa7af;}
  .round-three {font-size: 2rem;}
  .round-three-bg {background-color: #76747a;}
}
