#play {

  .no-bullets {
    list-style-type: none;
  }

  .indigo {color: indigo;}
  .chocolate {color: chocolate;}
  .limegreen {color: limegreen;}

  .round-one {font-size: 3.5rem;}
  .round-two {font-size: 2.5rem;}
  .round-three {font-size: 1.8rem;}
}
